<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Removal 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        [v-cloak] {display: none;}
    </style>
</head>

<body>
    <div id="vue">
        <div v-cloak>
            <section v-if="userVerified==true" class="vh-100">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-xl-11">
                            <div class="card text-black col-6 mx-auto">
                                <div class="card-header">Logged In - Dummy page 2</div>
                                <ul class="p-5">
                                    <li><a class="py-2" href="dummypage1.html">Dummy page 1</a></li>
                                    <li><a class="py-2" href="dummypage2.html">Dummy page 2</a></li>
                                    <li><a class="py-2" href="#" @click="logout">logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section v-if="userVerified==false" class="vh-100">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-xl-11">
                            <div class="card text-black col-6 mx-auto">
                                <div class="card-header">Logged Out - Dummy page 2</div>
                                <p class="py-5 text-center">Please log in fisrt. <a href="index.html">Click here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="axiosheader.js"></script>
    <script src="main.js"></script>

</body></html>
